header{
	background-image:url(../images/21/home.jpg);
	height:500px;
}
header h2{
	float:left;
	margin:0px;
	padding:30px 30px 0px 30px;
}
header h1{
	margin:0;
}
section {
    min-height: 1000px;
    position: relative;
    width: 100%;
    min-width: 1000px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.sect>div:nth-of-type(1) {
    margin: 0;
    height: 1200px;
    position:absolute;
    width:100%;
    top:0;left:0;
}
#tanjore>div:nth-of-type(1) {
    background: url(../images/21/tanjore.jpg) 50% 0 no-repeat fixed;
}
#ooty>div:nth-of-type(1) {
    background: url(../images/21/ooty.jpg) 50% 0 no-repeat fixed;
}
#valluvar>div:nth-of-type(1) {
    background: url(../images/21/valluvar.jpg) 50% 0 no-repeat fixed;
}
#theru>div:nth-of-type(1) {
    background: url(../images/21/theru.jpg) 50% 0 no-repeat fixed;
}
#rockfort>div:nth-of-type(1) {
    background: url(../images/21/rockfort.jpg) 50% 0 no-repeat fixed;
}
#mahab>div:nth-of-type(1) {
    background: url(../images/21/mahab.jpg) 50% 0 no-repeat fixed;
}
#courtal>div:nth-of-type(1) {
    background: url(../images/21/courtal.jpg) 50% 0 no-repeat fixed;
}
#muduma>div:nth-of-type(1) {
    background: url(../images/21/muduma.jpg) 50% 0 no-repeat fixed;
}
#thiruma>div:nth-of-type(1) {
    background: url(../images/21/thiruma.jpg) 50% 0 no-repeat fixed;
}
#bomma>div:nth-of-type(1) {
    background: url(../images/21/bomma.jpg) 50% 0 no-repeat fixed;
}
#idli>div:nth-of-type(1) {
    background: url(../images/21/idli.jpg) 50% 0 no-repeat fixed;
}
#pamban>div:nth-of-type(1) {
    background: url(../images/21/pamban.jpg) 50% 0 no-repeat fixed;
}


section article{
	position:absolute;
	top:200px;
	left:40px;
	width:280px;
	padding: 40px 20px 30px 30px;
	z-index: 4;
}
section h2{
	border: 3px dashed #fff;
	border-radius: 100%;
	width:60px;
	font-size: 50px;
	font-style: italic;
	color:#fff;
	text-align:center;
	position: absolute;
	top:-150px;
	left:40px;
	padding: 15px;
	box-shadow: -1px -1px 6px 2px rgba(0,0,0,.2);
}
section h1{
	font-size: 25px;
	color: #fff;
	font-style: italic;
	font-weight: normal;
}
section p{
	font-size:13px;
	color: #fff;
}
section a{
	font-size:13px;
	color:#fff;
	text-decoration:none;
}
section a:hover{
	font-size:14px;
	color:#fff;
	background-color:rgba(255,255,255,.1);
	border-radius: 4px;
	padding: 8px;
}
.red{
	background-color:#C00;
}
.blue{
	background-color:#33F;
}
.orange{
	background-color:#F60;
}
.purple{
	background-color:#609;
}
.yellow{
	background-color:#FC0;
}
.black{
	background-color:#000;
}
.green{
	background-color:#92CD00;
}