header{
	background-image:url(../images/21/home-h.jpg);
	height:500px;
}
header h2{
	float:left;
	margin:0px;
	padding:30px 30px 0px 30px;
}
header h1{
	margin-right: 150px;
	margin-bottom: 0px;
	margin-top: 0px;
	float: right;
	height: 100%;
}
section {
    min-height: 1000px;
    position: relative;
    width: 100%;
    min-width: 1000px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.sect div{
    margin: 0;
    height: 1200px;
    position:absolute;
    width:100%;
    top:0;left:0;
}
#tanjore div{
    background: url(../images/21/tanjore.jpg) 50% 0 no-repeat fixed;
}
#ooty div{
    background: url(../images/21/ooty.jpg) 50% 0 no-repeat fixed;
}
#valluvar div{
    background: url(../images/21/valluvar.jpg) 50% 0 no-repeat fixed;
}
#theru div{
    background: url(../images/21/theru.jpg) 50% 0 no-repeat fixed;
}
#rockfort div{
    background: url(../images/21/rockfort.jpg) 50% 0 no-repeat fixed;
}
#mahab div{
    background: url(../images/21/mahab.jpg) 50% 0 no-repeat fixed;
}
#courtal div{
    background: url(../images/21/courtal.jpg) 50% 0 no-repeat fixed;
}
#muduma div{
    background: url(../images/21/muduma.jpg) 50% 0 no-repeat fixed;
}
#thiruma div{
    background: url(../images/21/thiruma.jpg) 50% 0 no-repeat fixed;
}
#bomma div{
    background: url(../images/21/bomma.jpg) 50% 0 no-repeat fixed;
}
#idli div{
    background: url(../images/21/idli.jpg) 50% 0 no-repeat fixed;
}
#pamban div{
    background: url(../images/21/pamban.jpg) 50% 0 no-repeat fixed;
}
#santhome div{
    background: url(../images/21/santhome.jpg) 50% 0 no-repeat fixed;
}
#koval div{
    background: url(../images/21/koval.jpg) 50% 0 no-repeat fixed;
}
#train div{
    background: url(../images/21/train.jpg) 50% 0 no-repeat fixed;
}
#bird div{
    background: url(../images/21/bird.jpg) 50% 0 no-repeat fixed;
}
#valpar div{
	background: url(../images/21/valpar.jpg) 50% 0 no-repeat fixed;
}
#tharan div{
    background: url(../images/21/tharan.jpg) 50% 0 no-repeat fixed;
}
#yela div{
    background: url(../images/21/yela.jpg) 50% 0 no-repeat fixed;
}
#meena div{
    background: url(../images/21/meena.jpg) 50% 0 no-repeat fixed;
}
#sadras div{
    background: url(../images/21/sadras.jpg) 50% 0 no-repeat fixed;
}
section article{
	position:absolute;
	top:200px;
	left:40px;
	width:300px;
	padding: 40px 20px 30px 30px;
	z-index: 4;
	box-shadow: -1px -1px 6px 2px rgba(0,0,0,.2);
}
section h2{
	border: 3px dashed #fff;
	border-radius: 100%;
	width:60px;
	font-size: 50px;
	font-style: italic;
	color:#fff;
	text-align:center;
	position: absolute;
	top:-150px;
	left:40px;
	padding: 15px;
	box-shadow: -1px -1px 6px 2px rgba(0,0,0,.2);
}
section h1{
	font-size: 30px;
	color: #fff;
	font-style: italic;	
}
section p{
	font-size:15px;
	color: #fff;
}
section a{
	font-size:15px;
	color:#fff;
	text-decoration:none;
}
section a:hover{
	font-size:16px;
	color:#fff;
	background-color:rgba(255,255,255,.3);
	border-radius: 4px;
	padding: 8px;
}
.red{
	background-color:#C00;
}
.blue{
	background-color:#33F;
}
.orange{
	background-color:#F60;
}
.purple{
	background-color:#609;
}
.yellow{
	background-color:#FC0;
}
.black{
	background-color:#000;
}
.green{
	background-color:#92CD00;
}
footer{
	background:url(../images/21/home-f.jpg);
	height:175px;
}
footer img{
	padding:20px;
}